body{
  color: #fff;
  font-size: 1.5vmin;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  min-width: 1024px;
  max-width: 1664px;
}

.row-1{
    height: 300px;

}
.row-2{
    height: 600px;
}

#build-1-1{
    background-color: #333;
    height: 100%;
}
#build-1-2{
    background-color: #777;
    height: 100%;
}
#build-1-3{
    background-color: #333;
    height: 100%;
}
#build-2-1{
    background-color: #222;
    height: 100%;
}
#build-2-2{
    padding: 5px;
    background-color: #333;
    height: 100%;
}
#build-2-3{
    padding: 5px;
    background-color: #222;
    height: 100%;
}

#build-dropdown, #build-control{
  background-color: #224;
}

#build-partpreview{
  background-color: #228;
}

#buildPreview{
  margin-top: 2px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid;
  text-align: center;
}

#buildPreview th {
   text-align: center;
   width: 25%;
}

#buildPreview th:first-child {
   text-align: center;
   width: 50%;
}

table#buildPreview td:first-child, table#buildPreview th:first-child{
  text-align: left;
}

#buildModify{
  width: 100%;
}

table#buildModify td{
  border: 1px solid;
  width: 20%;
}

table#buildModify td:first-child{
  width: 40%;
  padding-right: px;
}

table#buildModify td:first-child, table#buildModify td:nth-child(2){
  padding-left: 4px;
}
