.designImageStyle{
 	height: 560px;
  	width: 234px;
  	border: none;
  	margin-top: 20px;
  	image-rendering: pixelated;
  	background-color: #444;
  	display:block;
  	margin-left: auto;
  	margin-right: auto;
}

#designSummaryTable td{
  padding: 1px;
}

#designSummaryTable th{
  font-weight: bold;
  font-size: 20px;
  width: 50%;
}





