body{
  background-color: #000;
  height: 100%;
}

.app-container{
  color: #fff;
  font-size: 15px;
  font-family: monospace;
}

.main-container{
  margin-right: auto;
  margin-left: auto;
  min-width: 1024px;
  max-width: 1664px;
  background-color: #000;
}

.top-middle{
    padding: 5px;
    background-color: #444;
    height: 100%;  
}

.top-side{
    padding: 5px;
    background-color: #333;
    height: 100%;
}

.bot-middle{
    padding: 5px;
    background-color: #333;
    height: 100%;
}

.bot-side{
    padding: 5px;
    background-color: #222;
    height: 100%;
}

.top-row{
    height: 672px;
}

.bot-row{
    height: 256px;
}

.buttonStyle{
  background-color: black;
  color: green;
}

.buttonStyleHigh{
  background-color: green;
  color: black;
}

.buttonStyleNeg{
    background-color: black;
    color: red;
}

.modalStyle{
  background-color: #111;
  color: green;
}

.modal-dialog{
  color: #000;
  margin-top: 20%;
}

.modal-footer .btn + .btn{
  margin-left: 0px;
}

/* misc */
.title{ 
  font-weight: bold;
  font-size: 25px;
}

a, a:active, a:hover, a:visited, a:link{
  color:green;
}

.btn{
 width: 100%;
 border-radius:0;
}

.buttonStyle:hover{
  color: #3F3;
}

.buttonStyle:focus, .buttonStyle:active{
    color: #3F3;
    outline: 0;
}

.buttonStyleNeg:hover{
  color: #F33;
}

.buttonStyleNeg:focus, .buttonStyleNeg:active{
    color: #F33;
    outline: 0;
}

.navbar {
    margin-bottom: 0;
}

.scroll-y{
  overflow-y: scroll;
}

.center{
  text-align: center;
}

.listButton{
  float: right;
  width: 100px;
  border-radius:0;
  text-align: center;
  padding: 10px 15px;
}

.summaryTable tbody tr td{
  padding: 1px;
}

.summaryTable thead th{
  font-weight: bold;
  font-size: 20px;
  width: 50%;
}

.summaryTableFour thead th{
  font-weight: bold;
  font-size: 20px;
  width: 25%;
}

.summaryTableFour tbody tr td{
  padding: 1px;
}