body{
  background-color: #000;
  height: 100%;
}

.app-container{
  color: #fff;
  font-size: 15px;
  font-family: monospace;
}

.main-container{
  margin-right: auto;
  margin-left: auto;
  min-width: 1024px;
  max-width: 1664px;
  background-color: #000;
}

.top-middle{
    padding: 5px;
    background-color: #444;
    height: 100%;  
}

.top-side{
    padding: 5px;
    background-color: #333;
    height: 100%;
}

.bot-middle{
    padding: 5px;
    background-color: #333;
    height: 100%;
}

.bot-side{
    padding: 5px;
    background-color: #222;
    height: 100%;
}

.top-row{
    height: 672px;
}

.bot-row{
    height: 256px;
}

.buttonStyle{
  background-color: black;
  color: green;
}

.buttonStyleHigh{
  background-color: green;
  color: black;
}

.buttonStyleNeg{
    background-color: black;
    color: red;
}

button:focus {
    border-color: #0F0;
    box-shadow: 0 0 5px rgba(00, 255, 0, 0.8);
}

.modalStyle{
  background-color: #111;
  color: green;
}

.modal-dialog{
  color: #000;
  margin-top: 20%;
}

.modal-footer .btn + .btn{
  margin-left: 0px;
}

/* misc */
.title{ 
  font-weight: bold;
  font-size: 25px;
}

a, a:active, a:hover, a:visited, a:link{
  color:green;
}

.btn{
 width: 100%;
 border-radius:0;
}

.navbar {
    margin-bottom: 0;
}

.scroll-y{
  overflow-y: scroll;
}

.center{
  text-align: center;
}
