body{
  background-color: #000;
  height: 100%;
}

.modal-dialog{
  color: #000;
  margin-top: 20%;
}
.app-container{
  color: #fff;
  font-size: 15px;
  font-family: monospace;
}

.main-container{
  margin-right: auto;
  margin-left: auto;
  min-width: 1024px;
  max-width: 1664px;
  background-color: #000;
}

.navbar {
    margin-bottom: 0;
}

.top-middle{
    padding: 5px;
    background-color: #444;
    height: 100%;  
}

.top-side{
    padding: 5px;
    background-color: #333;
    height: 100%;
}

.bot-middle{
    padding: 5px;
    background-color: #333;
    height: 100%;
}

.bot-side{
    padding: 5px;
    background-color: #222;
    height: 100%;
}

.top-row{
    height: 672px;
}

.bot-row{
    height: 256px;
}

.buttonStyle{
  background-color: black;
  color: green;
}

.buttonStyleHigh{
  background-color: green;
  color: black;
}

.buttonStyleNeg{
    background-color: black;
    color: red;
}

.modalStyle{
  background-color: #111;
  color: green;
}

button:focus {
    border-color: #0F0;
    box-shadow: 0 0 5px rgba(00, 255, 0, 0.8);
}

/*build modify table  */
#buildModify{
  width: 100%;
}

#buildModify>tbody>tr>td{

  width: 10%;
}

#buildModify>tbody>tr>td:nth-child(2){
  padding-left: 4px;
  width: 25%;
}

#buildModify>tbody>tr>td:first-child{
  padding-left: 4px;
  width: 45%;
}

/*stage summary list  */
#rocket-summary td{
  padding: 1px;
}

#rocket-summary th{
  font-weight: bold;
  font-size: 20px;
  width: 50%;
}


/* misc */
.title{ 
  font-weight: bold;
  font-size: 25px;
}

.dropdown-menu {
  width: 100%; 
  text-align: center;
}

.dropdown-menu li > a:hover{
  background-color: #8C8C50;
}

.btn{
 width: 100%;
 border-radius:0;
}

/* chart */

path {
    stroke: #f00;
    stroke-width: 2;
    fill: none;
}

#launchDisplay{
  display: block;
  text-align: center;
}

.modal-footer .btn + .btn{
  margin-left: 0px;
}

#chart2, #chart3, #chart4{
  font-size: 20px;
}

#rocket-name-input{
  color: #000;
}

a, a:active, a:hover, a:visited, a:link{
  color:green;
}