body{
  background-color: #000;
  height: 100%;
}
.app-container{
  color: #fff;
  font-size: 15px;
  font-family: monospace;
}

.main-container{
  margin-right: auto;
  margin-left: auto;
  min-width: 1024px;
  max-width: 1664px;
  background-color: #000;
}

.navbar {
    margin-bottom: 0;
}

.top-middle{
    padding: 5px;
    background-color: #444;
    height: 100%;  
}

.top-side{
    padding: 5px;
    background-color: #333;
    height: 100%;
}

.bot-middle{
    padding: 5px;
    background-color: #333;
    height: 100%;
}

.bot-side{
    padding: 5px;
    background-color: #222;
    height: 100%;
}

.top-row{
    height: 672px;
}

.bot-row{
    height: 256px;
}

#rocket-canvas{
 display: inline;
 margin-top: 40px;
}

/*build modify table  */
#buildModify{
  width: 100%;
}

#buildModify>tbody>tr>td{
  border: 1px solid;
  width: 10%;
}

#buildModify>tbody>tr>td:nth-child(2){
  padding-left: 4px;
  width: 25%;
}

#buildModify>tbody>tr>td:first-child{
  padding-left: 4px;
  width: 45%;
}

/*stage summary list  */
#rocket-summary td{
  padding: 1px;
}

#rocket-summary th{
  font-weight: bold;
  font-size: 20px;
  width: 50%;
}

/*system summary list  */
#system-summary>tbody>tr>td:first-child{
  width: 150px;
  padding: 1px;
}

#system-summary th{
  font-weight: bold;
  font-size: 20px;
}

/* misc */
.title{ 
  font-weight: bold;
  font-size: 25px;
}

.dropdown-menu {
  width: 100%; 
  text-align: center;
}

.dropdown-menu li > a:hover{
  background-color: #8C8C50;
}

.btn{
 width: 100%;
}

#rocket-image{
  height: 560px;
  width: 234px;
  border: none;
  margin-top: 60px;
  image-rendering: pixelated;
  background-color: #444;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* chart */

path {
    stroke: #f00;
    stroke-width: 2;
    fill: none;
}

#chart{
  display: inline-block;
}

#chart2, #chart3, #chart4{
  font-size: 30px;
}

#rocket-name-input{
  color: #000;
}
