body{
  color: #fff;
  font-size: 15px;
}

#rocket-name-input{
  color: #000;
}

.container-fluid{
  margin-right: auto;
  margin-left: auto;
  min-width: 1024px;
  max-width: 1664px;
  background-color: #000;
}

.row-1{
    height: 672px;

}
.row-2{
    height: 256px;
}

#build-1-1{
    padding: 5px;
    background-color: #333;
    height: 100%;
}
#build-1-2{
   text-align: center;
    padding: 5px;
    background-color: #444;
    height: 100%;
}
#build-1-3{
    padding: 5px;
    background-color: #333;
    height: 100%;
}
#build-2-1{
    padding: 5px;
    background-color: #222;
    height: 100%;
}
#build-2-2{
    padding: 5px;
    background-color: #333;
    height: 100%;
}
#build-2-3{
    padding: 5px;
    background-color: #222;
    height: 100%;
}

#build-2-1-R{
  text-align: center;
}
#build-2-1-L{

}

#rocket-canvas{
 display: inline;
 margin-top: 40px;
}

/*build modify table  */
#buildModify{
  width: 100%;
}

#buildModify>tbody>tr>td{
  border: 1px solid;
  width: 10%;
}

#buildModify>tbody>tr>td:nth-child(2){
  padding-left: 4px;
  width: 25%;
}

#buildModify>tbody>tr>td:first-child{
  padding-left: 4px;
  width: 45%;
}

/*stage summary list  */
#rocket-summary td{
  padding: 1px;
}

#rocket-summary th{
  font-weight: bold;
  font-size: 20px;
  width: 50%;
}

.title{ 
  font-weight: bold;
  font-size: 25px;
}

.dropdown-menu {
  width: 100%; 
  text-align: center;
}

.dropdown-menu li > a:hover{

  background-color: #8C8C50;
}

.btn{
 width: 100%;
}

#rocket-image{
  height: 560px;
  width: 234px;
  border: none;
  margin-top: 60px;
  image-rendering: pixelated;
  background-color: #444;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#system-summary>tbody>tr>td:first-child{
  width: 150px;
  padding: 1px;
}

#system-summary th{
  font-weight: bold;
  font-size: 20px;
}

path {
    stroke: #f00;
    stroke-width: 2;
    fill: none;
}

#chart{
  display: inline-block;
}